<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <a href="/dashboard/home-admin" class="nav-link">Home</a>
    <a href="/dashboard" class="nav-link">Dashboard</a>
    <button id="logout" class="logout-btn">Log Out</button>
  </nav>


  <main class="content">
    {{{body}}}
  </main>
   {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
